{% extends "base.html" %} {% load humanize %} {% load customfilter %} {% block pageContent %}

{% load notifications_tags %}


<div class="container mt-3">
  <div class="row justify-content-center">
    <div class="col-lg-8">
      <div class="ml-2">
        <h3 class="h3 text-muted fw-bold">Notifications:</h3>
      </div>
    </div>
    <div class="col-lg-8">
      {% if user.notifications.unread %}
        <small class="mb-1">Unread</small>
      {% endif %}
      {% for notification in  user.notifications.unread %}
        <div class="card mb-2" style="background-color: aliceblue;">
          <div class="card-body">
            <h5 class="card-title"><small style="font-size:13px;"><b >{{ notification.verb }}</b></small></h5>
            <p class="card-text">{{ notification.description }}</p>
          </div>
          <a href="{% url 'mark-read' pk=notification.id %}" class="btn btn-info" ><i class="fas fa-check-double"></i></a>
        </div>
      {% endfor %}
      <small class="mb-1">Read:</small>
      {% for notification in  user.notifications.read %}
          <div class="card mb-2">
            <div class="card-body">
              <h5 class="card-title"><small style="font-size:13px;"><b >{{ notification.verb }}</b></small></h5>
              <p class="card-text">{{ notification.description }}</p>
            </div>
          </div>  
      {% endfor %}
    </div>

  </div>


</div>



{% endblock pageContent %} 